@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* mặc định mình cho là 1140px */
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background: #ddd;
    padding: 5px 0;
}
header .container .content__header{
    display: flex;
    align-items: center;
}
header .container .content__header .logo__header{
    flex-basis: 10%;
}
header .container .content__header .menu__header{
    flex-basis: 80%;
}
header .container .content__header .card__head{
    flex-basis: 10%;
}
header .container .content__header .card__head .card{
    position: relative;
    width: 40px;
    cursor: pointer;
}

header .container .content__header .card__head .card span{
    position: absolute;
    top: 0;
    right: -10px;
    width: 50%;
    height: 50%;
    background: rgba(20,120,250,1);
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
}
header .container .content__header .menu__header nav .nav__left li{
    /* display: inline-block; */
    list-style: none;
    margin: 0 20px;
    float: left;
}
header .container .content__header .menu__header nav .nav__left li a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
header .container .content__header .menu__header nav .nav__left li a:hover{
    text-decoration: underline;
}
header .container .content__header .card__head{
    flex-basis: 10%;
}

header .container .content__header .menu__header nav .nav__right li{
    /* display: inline-block; */
    float: right;
    list-style: none;
    margin: 0 20px;
}
header .container .content__header .menu__header nav .nav__right li a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
header .container .content__header .menu__header nav .nav__right li a:hover{
    text-decoration: underline;
}
header .container .content__header .card__head{
    flex-basis: 10%;
}


/* end header */
.slide__body .container .container_slide{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}
.slide__body .container .container_slide .slides{
    width: 100%;
    display: flex;
}
.slide__body .container .container_slide .slides .item{
    min-width: 100%;
}
.slide__body .container .container_slide .slides .item img{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: none;
}
.slide__body .container .container_slide .next,.prev{
    position: absolute;
    top: 50%;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    transform: translateY(-50%);
    cursor: pointer;
}
.slide__body .container .container_slide .next:hover,.prev:hover{
    background: saddlebrown;
}
.slide__body .container .container_slide .next{
    right: 0;
}
/* end slides */
/* Body product one */
.body_product{
    padding: 30px 0;
}
.body_product .container .title{
    width: 100%;
    text-align: center;
    background: #ddd;
    padding: 15px 0;
}
.body_product .container .title h3{
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 1px;
}
.body_product .container .show_product{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.body_product .container .show_product .card {
    flex-basis: 18%;
    margin: 10px 5px;
}
.body_product .container .show_product .card .items{
    position: relative;
    display: block;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.body_product .container .show_product .card .items .image img{
    width: 100%;
}
.body_product .container .show_product .card .items .text {
    text-align: left;
    padding: 5px 0;
}
.body_product .container .show_product .card .items .text h3{
    font-weight: 400;
    font-size: 20px;
}
.body_product .container .show_product .card .items .text p{
    font-weight: 500;
    margin: 5px 0;
}
.body_product .container .show_product .card .items .color{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.body_product .container .show_product .card .items .color span{
    width: 20px;
    height: 20px;
    background: #000;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.body_product .container .show_product .card .items .color span:nth-child(1){
    background: #FA5882;
}
.body_product .container .show_product .card .items .color span:nth-child(2){
    background: #2E2EFE;
}
.body_product .container .show_product .card .items .color span:nth-child(3){
    background: #5858FA;
}
.body_product .container .show_product .card .items .color span:nth-child(4){
    background: #FF0040;
}
.body_product .container .show_product .card .items .button{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0;
    transition: 0.5s ease-out;
}
.body_product .container .show_product .card .items:hover .button{
    opacity: 1;
    top: 50%;
}
.body_product .container .show_product .card .items .button a{
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    background:#2E2EFE;
    color: #ffff;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
}
.body_product .container .show_product .card .items .button a:hover{
    background: #FE2E64;
}
/* discount */
.body_product.discount .show_product .card .items .text span{
    color: #FF0040;
    font-weight: 600;
}
.body_product.discount .show_product .card .items .text span s{
    font-weight: 300;
}
.body_product.discount .show_product .card .items span.discount{
    width: 50px;
    height: 50px;
    background: #FF0040;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #FF0040;
    position: absolute;
    top: -10px;
    right: 0;
}
/* footer */
footer{
    background: rgba(0, 0, 0, 0.05);
    padding: 15px 0 0 0;
}
footer .container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer .container .row .col-4{
    flex-basis: 33.333333%;
    padding: 0 15px;
}
footer p.copyriht{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    background: #000;
    color: #fff;
    font-size: 12px;
}
footer .container .row .col-4 img{
    margin: 10px 0;
}
footer .container .row .col-4 .name_website{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
footer .container .row .col-4 p{
    font-size: 14px;
    word-break: break-all;
}
footer .container .row .col-4 ul{
    list-style: none;
}
footer .container .row .col-4 ul li{
    margin: 10px 0;

}
footer .container .row .col-4 .title{
    color: #FF0040;
    letter-spacing: 1px;
}
footer .container .row .col-4 ul li a{
    text-decoration: none;
    color: rgb(238, 28, 28);
    font-size: 0.9rem;
}
footer .container .row .col-4 ul li a:hover{
    text-decoration: underline;
}
/*  */
.popup_shopping{
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 15px 30px;
    z-index: 11;
    width: 40rem;
}
.popup_shopping.active{
    /* visibility: visible; */
    animation: animate 1s ease-out forwards;
}
@keyframes animate{
    0%{
        visibility: hidden;
        top: 0;
    }
    50%{
        top: 40%;
    }
    80%{
        top: 45%;
    }
    90%{
        top: 50%;
    }
    100%{
        visibility: visible;
    }
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
.overlay.active{
    display: block;
}
.popup_shopping .body_shopping table{
    border-collapse: collapse;
    width: 100%;
}
.popup_shopping .body_shopping table td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.popup_shopping .body_shopping table td a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    margin: 5px;
}
.popup_shopping .body_shopping table td a:first-child{
    background: #FF0040;
}
.popup_shopping .body_shopping table td a:last-child{
    background: #0066ff;
}
.popup_shopping .body_shopping .close{
    text-align: right;
    margin: 15px 0 0 0;
}
.popup_shopping .body_shopping .close button{
    background: #ff0000;
    color: #fff;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.popup_shopping .body_shopping .close button:hover{
    opacity: 0.8;
}